{% extends 'partials/base.html.twig' %}

{% block body %}
<!-- Main -->
    <div id="main" class="wrapper style4 full_width">

        <!-- Content -->
        <div id="content" class="container">
            <section>
                {% include 'partials/heading.html.twig' %}
                {{ page.content }}
            </section>
        </div>
    </div>

    {% include 'partials/sections/portals.html.twig' with { 'data_source': page.find('/') } %}

{% endblock body %}
