{% extends 'partials/base.html.twig' %}

{% block body %}
<!-- Main -->
    <div id="main" class="wrapper style4 full_width">

        <!-- Content -->
        <div id="content" class="container">
            <section>
                <header class="major">
                    <h2>{{ page.title }}</h2>
                    {% if page.header.subtitle %}
                        <span class="byline">{{ page.header.subtitle }}</span>
                    {% endif %}
                </header>
                {{ page.content }}
            </section>
        </div>
    </div>

    {% include 'partials/sections/portals.html.twig' with { 'data_source': page.find('/') } %}

{% endblock body %}
