{% extends 'partials/base.html.twig' %}

{% block banner %}
	{% include 'partials/banner.html.twig' %}
{% endblock banner %}

{% block body %}

	{% include 'partials/sections/hook.html.twig' with { text_copy: page.content } %}
	{% include 'partials/sections/cta.html.twig' %}
	{% include 'partials/sections/quilt.html.twig' %}
	{% include 'partials/sections/portals.html.twig' %}


{#
	<section id="start">
	{% block body %}
		<section id="body-wrapper" class="section">
			<section class="container {{ grid_size }}">
				{% block messages %}
					{% include 'partials/messages.html.twig' ignore missing %}
				{% endblock %}
				{% block content %}{% endblock %}
			</section>
		</section>
	{% endblock %}
	</section>
#}

{% endblock body %}
