{% extends 'partials/base.html.twig' %}

{% block content %}
	{{ page.content }}
{% endblock %}

{% block header %}

	<!-- Header Wrapper -->
		<div class="wrapper style1">

		<!-- Header -->
			<div id="header">
				<div class="container">

					<!-- Logo -->
						<h1><a href="{{ home_url }}" id="logo">{{ site.title }}</a></h1>

					<!-- Nav -->
						<nav id="nav">
							{% include 'partials/navigation.html.twig' %}
						</nav>

				</div>
			</div>

		<!-- Banner -->
			<div id="banner">
				<section class="container">
					<h2>Solarize</h2>
					<span>Design by Templated</span>
					<p>Pellentesque pede. Donec pulvinar ullamcorper metus. In eu odio at lectus pulvinar mollis. Vestibulum sem magna.</p>
				</section>
			</div>

		</div>

{% endblock header %}
