{% extends 'partials/base.html.twig' %}

{% block body %}

	<!-- Main -->
		<div id="main" class="wrapper style4 plain">
			<div class="container">
				<div class="row">

					<!-- Content -->
					<div id="content" class="8u skel-cell-important">
						<section>
							{% include 'partials/heading.html.twig' %}
							{{ page.content }}
						</section>
					</div>

					<!-- Sidebar -->
					<div id="sidebar" class="4u">
						{% include 'partials/components/links_sidebar.html.twig' %}
					</div>

				</div>
			</div>
		</div>

	{% include 'partials/sections/portals.html.twig' with { 'data_source': page.find('/') } %}

{% endblock body %}
